body {
    background: url('../images/bg.jpg') no-repeat 0px 0px;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.change_pass {
    width: 520px;
    min-height: 540px;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    padding: 42px 35px;
}

.change_pass .head {
    color: #1540a7;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.change_pass .thongtin {
    height: 45px;
    margin-bottom: 20px;
}

.change_pass .tenTruong {
    float: left;
    width: 160px;
    line-height: 50px;
}

.change_pass input[type=text], input[type=password] {
    margin-top: 5px;
    border: 1px solid #dfdfdf;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    height: 40px;
    padding: 0 10px;
    width: 55%;
    outline: none;
    font-size: 13px;
}

.change_pass #ContentPlaceHolder1_btnXacNhan {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 160px;
    background: #305abe;
    border: none;
    cursor: pointer;
}

    .change_pass #ContentPlaceHolder1_btnXacNhan:hover {
        background: #1540a7;
    }
